<Configuration status="WARN">
    <Appenders>
        <RollingFile name="ADXRollingFile" fileName="C:/logs/logs.log"
                     filePattern="C:/logs/logs-%d{yyyy-MM-dd}-%i.log">
            <KustoStrategy
                    clusterPath="https://ingest-cluster.eastus.dev.kusto.windows.net"
                    appId=""
                    appKey=""
                    appTenant=""
                    dbName=""
                    tableName=""/>
            <CsvLogEventLayout delimiter="," quoteMode="ALL"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
                <TimeBasedTriggeringPolicy interval="60"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="ADXRollingFile"/>
        </Root>
    </Loggers>
</Configuration>

