<Configuration status="WARN">
    <Appenders>
        <RollingFile name="ADXRollingFile" fileName="C:/logs/logs.log"
                     filePattern="C:/logs/logs-%d{yyyy-MM-dd-hh-mm-ss}-%i.log">
            <KustoStrategy
                    dbName="sdktestsdb"
                    tableName="log4jcsv"/>
            <CsvLogEventLayout delimiter="," quoteMode="ALL"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="4 MB"/>
                <TimeBasedTriggeringPolicy interval="5" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="ADXRollingFile"/>
        </Root>
    </Loggers>
</Configuration>
